params {
    user_id = getUID()

    input_image_subpath = 'c1/s5'
    input_channels = '1'
    outdir = './output'
    cellpose_models_dir = './output/cellpose-models'
    output_image_dir = './output/cellpose'
    cellpose_work_dir = ''
    output_image_name = 'seg.n5'
    output_image_subpath = ''
    distributed = false
    dask_work_dir = './output/dask'
    process_blocksize = '32,32,16'
    output_blocksize = '8,8,8'
    model = 'cpsam'
    diameter = 10
    sample_z_axis = 1
    sample_channel_axis = '0'

    blocks_overlap = '4,4,4'
    cellprob_threshold = 1.0
    preprocessing_config = ''
    dask_config = './tests/pipelines/janelia/cellpose/dask_config.yml'
    cellpose_workers = 3
    cellpose_worker_threads = 3
    cellpose_required_workers = 1
    cellpose_worker_cpus = 0.6
    cellpose_worker_mem_gb = 6
    cellpose_driver_cpus = 0.5
    cellpose_driver_mem_gb = 10
    min_size = 10
    device = '0'
    use_gpu = true
    runtime_opts = ''
    logging_config = 'tests/pipelines/janelia/cellpose/logging_config.ini'
}

process {
    ext.container = 'ghcr.io/janeliascicomp/cellpose:4.0.6-dask2025.5.1-py12'

    publishDir = { "${params.outdir}/${task.process.tokenize(':')[-1].tokenize('_')[0].toLowerCase()}" }

    withName:".*:DASK_STARTWORKER" {
        ext {
            args = [
                "--nthreads ${params.cellpose_worker_threads}",
            ].join(' ')
        }
    }

    withName:".*:CELLPOSE" {
        ext {
            container = 'ghcr.io/janeliascicomp/cellpose:4.0.6-dask2025.5.1-py12'

            args = [
                "--do_3D",
                "--input-channels ${params.input_channels}",
                "--z_axis ${params.sample_z_axis}",
                "--channel_axis ${params.sample_channel_axis}",
                "--process-blocksize ${params.process_blocksize}",
                "--output-blocksize ${params.output_blocksize}",
                "--model ${params.model}",
                "--cellprob_threshold ${params.cellprob_threshold}",
                "--diam_mean ${params.diameter}",
                "--blocks-overlaps ${params.blocks_overlap}",
                "--min_size ${params.min_size}",
                "--device ${params.device}",
                "${params.use_gpu ? '--use_gpu' : ''}",
            ].join(' ')
        }
    }
}

docker {
    temp = 'auto'
    runOptions = "${params.runtime_opts} -u ${params.user_id}"
}

podman {
    runOptions = "${params.runtime_opts} -u ${params.user_id}"
}

singularity {
    singularity.autoMounts = true
}

profiles {
    docker {
        docker.enabled = true

        process {
            withName:'.*:DASK_STARTMANAGER' {
                cpus = 0.5
                memory = '1 GB'
                containerOptions = "-p 8787:8787 -p 8786:8786"
            }
        }
    }

    podman {
        podman.enabled = true

        process {
            withName:'.*:DASK_STARTMANAGER' {
                cpus = 0.5
                memory = '1 GB'
                containerOptions = "-p 8787:8787 -p 8786:8786"
            }
        }
    }

}

def getUID() {
    def p = Runtime.getRuntime().exec('id -u')
    try (InputStreamReader pout = new InputStreamReader(p.inputStream)) {
        pout.readLine() as Integer
    }
}
