process {
    publishDir = { "${params.outdir}/${task.process.tokenize(':')[-1].tokenize('_')[0].toLowerCase()}" }
}

params {
    outdir = './output'
    spark_work_dir = './output/spark_work_dir'
}

process {
    ext.spark_local_dir = 'work/spark-local-tmp'    
}

profiles {
    podman {
        docker.enabled = false
        podman.enabled = true
        podman.runOptions = ''
    }
}