process {
    publishDir = { "${params.outdir}/${task.process.tokenize(':')[-1].tokenize('_')[0].toLowerCase()}" }
}

params {
    outdir = './output'
    dask_config = './tests/subworkflows/janelia/dask_cluster/dask_config.yml'
    dask_work_dir = './output/dask'
}

profiles {
    podman {
        docker.enabled = false
        podman.enabled = true
        podman.runOptions = ''
    }
}
