params {
    use_mask = false
    bigstream_config = './tests/subworkflows/janelia/bigstream_registration/bigstream_config.yml'

    global_reuse_existing_transform = false

    global_fix = 'mylocal/bigstream-testdata2/fix.n5'
    global_fix_subpath = 'c3/s5'
    global_fix_mask = ''
    global_fix_mask_subpath = ''

    global_mov = 'mylocal/bigstream-testdata2/mov.n5'
    global_mov_subpath = 'c3/s5'
    global_mov_mask = ''
    global_mov_mask_subpath = ''

    global_steps = 'affine'

    global_output = 'mylocal/results/bigstream-testdata2/aff'
    global_transform_name = 'affine.mat'
    global_align_name = 'affine.n5'
    global_align_subpath = ''

    local_fix = 'mylocal/bigstream-testdata2/fix.n5'
    local_fix_subpath = 'c3/s4'
    local_fix_mask = ''
    local_fix_mask_subpath = ''

    local_mov = 'mylocal/bigstream-testdata2/mov.n5'
    local_mov_subpath = 'c3/s4'
    local_mov_mask = ''
    local_mov_mask_subpath = ''

    local_steps = 'affine,deform'

    local_output = 'mylocal/results/bigstream-testdata2/local'
    local_transform_name = 'deform.n5'
    local_transform_subpath = ''
    local_inv_transform_name = 'inv-deform.n5'
    local_inv_transform_subpath = ''
    local_align_name = 'warped.n5'
    local_align_subpath = ''

    with_dask = true
    dask_threads = 1
    dask_work_dir = 'work/dask'
    dask_config = './tests/subworkflows/janelia/bigstream_registration/dask_config.yml'

    global_align_cpus = 1
    global_align_mem_gb = 15
    local_align_cpus = 0.75
    local_align_mem_gb = 1
    local_align_workers = 2
    local_align_min_workers = 1
    local_align_worker_cpus = 1.5
    local_align_worker_mem_gb = 15

    // parameters for output global alignment
    global_blocksize = '128,128,128' // output block size for global volume

    // parameters for local alignment
    local_overlap_factor = 0.5
    local_blocksize = '64,64,64'  // output block (chunk) size for zarr or N5 arrays
    local_transform_blocksize = '64,64,64'  // output block (chunk) size for local deformation

    additional_warped_channel = 'c3'
    additional_warped_scale = 's3'

    inv_iterations = 1
    inv_order = 2
    inv_sqrt_iterations = 1
    cluster_max_tasks = 0
}

process {
    ext.container = 'ghcr.io/janeliascicomp/bigstream:1.3.2-dask2024.4.1-py11'

    withName:".*:DASK_STARTWORKER" {
        ext {
            args = [
                "--nthreads ${params.dask_threads}",
            ].join(' ')
        }
    }

    withName:".*:BIGSTREAM_GLOBALALIGN" {
        ext {
            args = [
                "${params.global_reuse_existing_transform ? '--reuse-existing-transform' : ''}",
                "--global-fix-mask-descriptor 0",
                "--global-mov-mask-descriptor 0",
                "--global-align-blocksize ${params.global_blocksize}",
            ].join(' ')
        }
    }

    withName:".*:BIGSTREAM_LOCALALIGN" {
        ext {
            args = [
                "--local-fix-mask-descriptor 0",
                "--local-mov-mask-descriptor 0",
                "--local-processing-size ${params.local_blocksize}",
                "--local-transform-blocksize ${params.local_transform_blocksize}",
                "--local-processing-overlap-factor ${params.local_overlap_factor}",
                "--local-align-blocksize ${params.local_blocksize}",
                "--inv-iterations ${params.inv_iterations}",
                "--inv-order ${params.inv_order}",
                "--inv-sqrt-iterations ${params.inv_sqrt_iterations}",
                "--cluster-max-tasks ${params.cluster_max_tasks}"
            ].join(' ')
        }
    }
}

includeConfig './nextflow.config'