params {
    use_mask = false
    bigstream_config = './tests/subworkflows/janelia/bigstream_registration/bigstream_config.yml'

    global_use_existing_affine_if_found = false

    // voxel spacing is important for the MRI test dataset
    // the other option is to actually change the spacing in the attributes.json file for the N5 array
    voxel_spacing = '1.0,1.0,6.5'

    global_fix = 'mylocal/bigstream-testdata3/fix.n5'
    global_fix_subpath = 'c0/s0'
    global_fix_mask = ''
    global_fix_mask_subpath = ''

    global_mov = 'mylocal/bigstream-testdata3/mov.n5'
    global_mov_subpath = 'c0/s0'
    global_mov_mask = ''
    global_mov_mask_subpath = ''

    global_steps = ''

    global_output = 'mylocal/results/bigstream-testdata3/aff'
    global_transform_name = 'affine.mat'
    global_align_name = 'affine.n5'
    global_align_subpath = ''

    local_fix = 'mylocal/bigstream-testdata3/fix.n5'
    local_fix_subpath = 'c0/s0'
    local_fix_mask = ''
    local_fix_mask_subpath = ''

    local_mov = 'mylocal/bigstream-testdata3/mov.n5'
    local_mov_subpath = 'c0/s0'
    local_mov_mask = ''
    local_mov_mask_subpath = ''

    local_steps = ''

    local_output = 'mylocal/results/bigstream-testdata3/local'
    local_transform_name = 'deform.n5'
    local_transform_subpath = ''
    local_inv_transform_name = 'inv-deform.n5'
    local_inv_transform_subpath = ''
    local_align_name = 'warped.n5'
    local_align_subpath = ''

    with_dask = true
    dask_threads = 1
    dask_work_dir = 'work/dask'
    dask_config = './tests/subworkflows/janelia/bigstream_registration/dask_config.yml'

    global_align_cpus = 1
    global_align_mem_gb = 15
    local_align_cpus = 0.75
    local_align_mem_gb = 1
    local_align_workers = 2
    local_align_min_workers = 1
    local_align_worker_cpus = 1.5
    local_align_worker_mem_gb = 15

    // parameters for output global alignment
    global_blocksize = '128,128,128' // output block size for global volume

    // parameters for local alignment
    local_transform_blocksize = '128,128,128'  // output block (chunk) size for local deformation
    local_align_blocksize = '64,64,64'

    additional_warped_channel = 'c0'
    additional_warped_scale = 's0'

    cluster_max_tasks = 0
}

process {
    ext.container = 'ghcr.io/janeliascicomp/bigstream:1.3.2-dask2024.4.1-py11'


    withName:".*:DASK_STARTWORKER" {
        ext {
            args = [
                "--nthreads ${params.dask_threads}",
            ].join(' ')
        }
    }

    withName:".*:BIGSTREAM_GLOBALALIGN" {
        ext {
            args = [
                "${params.global_use_existing_affine_if_found ? '--global-use-existing-transform' : ''}",
                "--global-align-blocksize ${params.global_blocksize}",
                "--global-fix-spacing ${params.voxel_spacing}",
                "--global-mov-spacing ${params.voxel_spacing}",
                "--verbose",
            ].join(' ')
        }
    }

    withName:".*:BIGSTREAM_LOCALALIGN" {
        ext {
            args = [
                "--local-fix-spacing ${params.voxel_spacing}",
                "--local-mov-spacing ${params.voxel_spacing}",
                "--local-transform-blocksize ${params.local_transform_blocksize}",
                "--local-align-blocksize ${params.local_align_blocksize}",
                "--cluster-max-tasks ${params.cluster_max_tasks}",
                "--verbose",
            ].join(' ')
        }
    }

    withName:".*:BIGSTREAM_DEFORM" {
        ext {
            args = [
                "--fix-spacing ${params.voxel_spacing}",
                "--mov-spacing ${params.voxel_spacing}",
                "--cluster-max-tasks ${params.cluster_max_tasks}",
                "--verbose",
            ].join(' ')
        }
    }

}

includeConfig './nextflow.config'